.desktop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--variable-collection-gray-light);
}

.desktop-page .menu {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-around;
  padding: 0px 116px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-gray-light);
}

.desktop-page .frame {
  width: 1208px;
  justify-content: center;
  gap: 85px;
  display: flex;
  align-items: center;
  position: relative;
}

.desktop-page .left-options {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .logotype {
  position: relative;
  width: 60px;
  height: 60px;
}

.desktop-page .menu-options {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .text-wrapper {
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .right-options {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .phone {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.desktop-page .buttons {
  display: inline-flex;
  height: 64px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-pink);
  border-radius: 32px;
}

.desktop-page .icon {
  position: relative;
  width: 32px;
  height: 32px;
}

.desktop-page .label {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.desktop-page .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 2px;
}

.desktop-page .main-screen {
  padding: 80px 0px 120px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--variable-collection-gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.desktop-page .main-content {
  width: 1208px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.desktop-page .info-block {
  display: flex;
  flex-direction: column;
  width: 584px;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  position: relative;
}

.desktop-page .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-page .h {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}

.desktop-page .text {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-gray-dark);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 38.4px;
}

.desktop-page .h-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 51.2px;
}

.desktop-page .group-of-buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-page .donate-button {
  display: inline-flex;
  height: 64px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 28px 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-pink);
  border-radius: 32px;
}

.desktop-page .adopt-button {
  display: inline-flex;
  height: 66px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  border-radius: 32px;
  border: 2px solid;
  border-color: var(--variable-collection-black);
}

.desktop-page .label-2 {
  color: var(--variable-collection-black);
  line-height: 28px;
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop-page .image {
  display: flex;
  width: 584px;
  height: 616px;
  align-items: center;
  justify-content: center;
  padding: 0px 28px;
  position: relative;
}

.desktop-page .illustration {
  position: relative;
  width: 547px;
  height: 616px;
  margin-left: -9.5px;
  margin-right: -9.5px;
}

.desktop-page .main-content-wrapper {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--variable-collection-black);
}

.desktop-page .div-2 {
  gap: 80px;
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .text-information {
  width: 1208px;
  gap: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .h-3 {
  position: relative;
  width: 1208px;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-white);
  font-size: 56px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: 67.2px;
}

.desktop-page .div-3 {
  display: flex;
  width: 1208px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .div-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop-page .h-4 {
  position: relative;
  width: 376px;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-yellow);
  font-size: 64px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}

.desktop-page .text-2 {
  position: relative;
  width: 376px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-white);
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: 51.2px;
}

.desktop-page .div-5 {
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .carousel-desktop {
  position: relative;
  width: 1208px;
  flex: 0 0 auto;
}

.desktop-page .div-6 {
  padding: 80px 0px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--variable-collection-black);
}

.desktop-page .p {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: 67.2px;
}

.desktop-page .span {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 67.2px;
}

.desktop-page .row {
  display: flex;
  width: 1208px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .div-7 {
  display: flex;
  flex-direction: column;
  width: 376px;
  align-items: center;
  justify-content: center;
  padding: 36px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--variable-collection-white);
}

.desktop-page .text-block {
  gap: 16px;
  padding: 24px 0px 0px;
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .h-5 {
  align-self: stretch;
  color: var(--variable-collection-white);
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 51.2px;
  position: relative;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
}

.desktop-page .text-3 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-transparent-max);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .icon-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 24px;
  left: 252px;
}

.desktop-page .div-8 {
  display: flex;
  flex-direction: column;
  width: 376px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 36px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--variable-collection-white);
}

.desktop-page .row-2 {
  display: flex;
  width: 1208px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .transport {
  display: flex;
  flex-direction: column;
  width: 376px;
  align-items: center;
  justify-content: center;
  padding: 36px 24px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--variable-collection-white);
}

.desktop-page .adopt-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--variable-collection-gray-light);
}

.desktop-page .main-content-2 {
  gap: 24px;
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .div-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex: 0 0 auto;
  width: 1208px;
  position: relative;
}

.desktop-page .text-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 56px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: 67.2px;
  white-space: nowrap;
}

.desktop-page .illustration-wrapper {
  display: flex;
  width: 584px;
  height: 616px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop-page .overlap-group-wrapper {
  position: relative;
  width: 547.29px;
  height: 584px;
}

.desktop-page .overlap-group {
  position: relative;
  width: 550px;
  height: 584px;
  left: -3px;
}

.desktop-page .dog-img {
  position: absolute;
  width: 377px;
  height: 584px;
  top: 0;
  left: 91px;
}

.desktop-page .collar {
  position: absolute;
  width: 198px;
  height: 152px;
  top: 260px;
  left: 137px;
}

.desktop-page .cat-img {
  position: absolute;
  width: 268px;
  height: 268px;
  top: 316px;
  left: 282px;
}

.desktop-page .bone-drawing {
  position: absolute;
  width: 151px;
  height: 114px;
  top: 7px;
  left: 0;
}

.desktop-page .text-block-2 {
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.desktop-page .text-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-page .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.desktop-page .text-wrapper-2 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #37383f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 38.4px;
}

.desktop-page .button {
  display: inline-flex;
  height: 64px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  background-color: var(--variable-collection-black);
  border-radius: 32px;
  all: unset;
  box-sizing: border-box;
}

.desktop-page .label-3 {
  color: var(--variable-collection-white);
  line-height: 28px;
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop-page .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 110px;
  flex: 0 0 auto;
  width: 1208px;
  position: relative;
}

.desktop-page .text-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-white);
  font-size: 56px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: 67.2px;
}

.desktop-page .adopt-or-foster {
  display: flex;
  flex-direction: column;
  width: 272px;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--variable-collection-white);
}

.desktop-page .frame-2 {
  flex-direction: column;
  gap: 48px;
  padding: 48px 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.desktop-page .text-block-3 {
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.desktop-page .h-6 {
  align-self: stretch;
  color: var(--variable-collection-white);
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 38.4px;
  position: relative;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
}

.desktop-page .text-7 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-transparent-max);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .label-wrapper {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-green);
  border-radius: 16px;
  height: 64px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop-page .label-4 {
  margin-left: -1.5px;
  margin-right: -1.5px;
  color: var(--variable-collection-black);
  text-align: center;
  line-height: 32px;
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop-page .frame-wrapper {
  flex-direction: column;
  width: 272px;
  gap: 32px;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--variable-collection-white);
  display: flex;
  align-items: center;
  position: relative;
}

.desktop-page .buttons-2 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-yellow-dark);
  border-radius: 16px;
  height: 64px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop-page .label-5 {
  color: var(--variable-collection-black);
  text-align: center;
  line-height: 32px;
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop-page .buttons-3 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-pink);
  border-radius: 16px;
  height: 64px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop-page .label-6 {
  color: var(--variable-collection-white);
  text-align: center;
  line-height: 32px;
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop-page .buttons-4 {
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-purple);
  border-radius: 16px;
  height: 64px;
  align-items: center;
  justify-content: center;
  position: relative;
  all: unset;
  box-sizing: border-box;
}

.desktop-page .heart-drawing-right {
  left: 1031px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 17px;
}

.desktop-page .heart-drawing-left {
  left: 77px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 17px;
}

.desktop-page .cat-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 82px;
  left: 66px;
  overflow: hidden;
}

.desktop-page .cat {
  position: relative;
  width: 309px;
  height: 394.78px;
  margin-right: -9px;
}

.desktop-page .vector {
  position: absolute;
  width: 117px;
  height: 72px;
  top: -3px;
  left: 140px;
}

.desktop-page .img-2 {
  position: absolute;
  width: 300px;
  height: 312px;
  top: 83px;
  left: 0;
}

.desktop-page .text-wrapper-3 {
  color: #ffffff;
}

.desktop-page .text-wrapper-4 {
  color: #f8db46;
}

.desktop-page .h-7 {
  position: relative;
  width: 1208px;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-white);
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: 51.2px;
}

.desktop-page .div-10 {
  display: flex;
  width: 1208px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .view-adoptables {
  display: inline-flex;
  height: 64px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-yellow);
  border-radius: 32px;
}

.desktop-page .apply-to-adopt {
  display: inline-flex;
  height: 66px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  border-radius: 32px;
  border: 2px solid;
  border-color: var(--variable-collection-white);
}

.desktop-page .dog-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 82px;
  left: 1146px;
  overflow: hidden;
}

.desktop-page .dog {
  position: relative;
  width: 313px;
  height: 404.48px;
  margin-top: -4.48px;
  margin-left: -13px;
}

.desktop-page .vector-2 {
  position: absolute;
  width: 128px;
  height: 79px;
  top: 4px;
  left: 57px;
}

.desktop-page .img-3 {
  position: absolute;
  width: 300px;
  height: 309px;
  top: 95px;
  left: 13px;
  object-fit: cover;
}

.desktop-page .subscription-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--variable-collection-purple);
}

.desktop-page .header {
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: transparent;
}

.desktop-page .flexcontainer-2 {
  width: 1208px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.desktop-page .text-wrapper-5 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffffcc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .field {
  display: flex;
  width: 395px;
  height: 64px;
  align-items: center;
  gap: 8px;
  padding: 16px 136px 16px 24px;
  position: relative;
  border-radius: 32px;
  border: 2px solid;
  border-color: var(--variable-collection-white);
}

.desktop-page .placeholder {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-transparent-middle);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.desktop-page .buttons-5 {
  display: inline-flex;
  gap: 8px;
  padding: 16px 32px;
  flex: 0 0 auto;
  background-color: var(--variable-collection-white);
  border-radius: 32px;
  height: 64px;
  align-items: center;
  justify-content: center;
  position: relative;
  all: unset;
  box-sizing: border-box;
}

.desktop-page .label-7 {
  color: var(--variable-collection-black);
  line-height: 32px;
  position: relative;
  width: fit-content;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop-page .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--variable-collection-gray-light);
}

.desktop-page .links-block {
  width: 1208px;
  justify-content: space-between;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.desktop-page .logo {
  display: flex;
  flex-direction: column;
  width: 272px;
  align-items: flex-start;
  gap: 19px;
  position: relative;
}

.desktop-page .logo-2 {
  position: relative;
  width: 100px;
  height: 100px;
}

.desktop-page .name {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 36px;
  letter-spacing: 0;
  line-height: 36px;
}

.desktop-page .text-8 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .icon-3 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 155px;
  left: 136px;
}

.desktop-page .links-row {
  flex-direction: column;
  width: 272px;
  gap: 16px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.desktop-page .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .contacts {
  display: flex;
  flex-direction: column;
  width: 272px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.desktop-page .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-page .address {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-page .address-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop-page .div-11 {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-page .text-9 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.desktop-page .socials {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-page .div-12 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 2px;
  margin-left: -1px;
  margin-right: -1px;
}

.desktop-page .text-10 {
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-page .text-11 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black);
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: 51.2px;
}

.desktop-page .text-wrapper-8 {
  color: #1e1f27;
}

.desktop-page .text-wrapper-9 {
  color: #ff3d9a;
}
